<!DOCTYPE html>
<html lang="en">
<head>
    {{>headtag}}
    <title>Twice new song <3 </title>
</head>
<body>
    {{>navbar}}
    <form action="/" method="POST">
        <input type="text" name="receiverId" placeholder="Enter Receiver ID">
        <br>
        <textarea name="content" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Send Email</button>
    </form>
</body>
</html>